@import "../../index.css";
@import "../../variables";

.container {
  position: relative;
  width: max-content;
}






.toggle {
  all: unset;
  position: relative;
  left: 0%;
  top:0%;
  color: var(--index_0_text);
  font-family: $font_family;
  transition: $default_transition;
  border-radius: $border_radius;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 200px;

  @include default_h4;
  @include medium_padding($left: 10px, $right: 30px);
}

.icon{
  @include default_svg()
}

@each $scheme in $color_schemes {

  .toggle.#{map-get($scheme, 'class_name')} {

    background-color: map-get($scheme, 'background');


    &.disabled {

    }
  }
}
@keyframes appearance {
  0%{
    transform: translate(0, -10px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}

.menu {
  all: unset;

  height: 30px;
  overflow: scroll;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  top: calc(0% + 50px);
  padding: 0;
  animation-name: appearance;
  animation-duration: 0.2s;
}