@import "../../index.css";
@import "../../variables";

.container {
  position: relative;

}






.toggle {
  all: unset;
  position: absolute;
  left: 0%;
  top:0%;
  color: var(--index_0_text);
  font-family: $font_family;
  transition: $default_transition;
  border-radius: $border_radius;
  cursor: pointer;

  @include default_h4;
  @include medium_padding($left: 10px);
}
@each $scheme in $color_schemes {

  .toggle.#{map-get($scheme, 'class_name')} {

    background-color: map-get($scheme, 'background');


    &.disabled {

    }
  }
}
.menu {
  all: unset;
  position: absolute;
  left: 0%;
  top: calc(0% + 50px);
  padding: 0;
  display: none;
}