@import "../../variables";
@import "../../index.css";
.container{
  all: unset;
  color: var(--index_0_text);
  font-family: $font_family;
  transition: $default_transition;
  border-radius: $border_radius;


  @include default_h4;
  @include medium_padding($vertical:13px, $left:10px);

}
.container:focus::placeholder{
  opacity: 0;
}
.container::placeholder{
  color: var(--index_1_text);
  transition: $default_transition;

  @include default_h4($weight:$font-weight-index2, $size:$font-size-h4)

}



@each $scheme in $color_schemes {

  .#{map-get($scheme, 'class_name')}  {

    background-color: map-get($scheme, 'background');


    &.disabled{

    }
  }
}