@import "../../variables";
@import "../../index.css";


.container{
    all: unset;
    font-family: $font_family;
    border-radius: $border_radius;
    font-weight: 400;
    padding: 7px 13px 7px 13px;
    cursor: pointer;
    font-size: 14px;
    transition: $default_transition;
}


@each $scheme in $color_schemes {

    .contained.#{map-get($scheme, 'class_name')}  {
        background-color: map-get($scheme, 'background');
        color: var(--index_0_text);

        &:hover{
            background-color: map-get($scheme, 'hover');
        }
    }
}

@each $scheme in $color_schemes {

    .text.#{map-get($scheme, 'class_name')}  {
        color: var(--index_0_text);

        &:hover{
            background-color: map-get($scheme, 'background');
        }
    }
}


@each $scheme in $color_schemes {

    .outlined.#{map-get($scheme, 'class_name')}  {
        color: var(--index_0_text);
        border: map-get($scheme, 'border') 1px solid;

        &:hover{
            background-color: map-get($scheme, 'hover');
        }
    }
}



