@import "../../index.css";
@import "../../variables";


.container {
  all: unset;
  font-family: $font_family;
  border-radius: $border_radius;
  cursor: pointer;
  position: relative;
  transition: $default_transition;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
  @include default_h4;
  @include small_padding;
}


@each $scheme in $color_schemes {

  .contained.#{map-get($scheme, 'class_name')} {
    background-color: map-get($scheme, 'background');
    color: var(--index_0_text);

    &:hover {
      background-color: map-get($scheme, 'hover');
    }

    &.checked {

    }

    &.disabled {

    }

  }
}

@each $scheme in $color_schemes {

  .text.#{map-get($scheme, 'class_name')} {
    color: var(--index_0_text);

    &:hover {
      background-color: map-get($scheme, 'background');
    }

    &.checked {

    }

    &.disabled {

    }
  }
}


@each $scheme in $color_schemes {

  .outlined.#{map-get($scheme, 'class_name')} {
    color: var(--index_0_text);
    border: map-get($scheme, 'border') 1px solid;

    &:hover {
      background-color: map-get($scheme, 'hover');
    }

    &.checked {

    }

    &.disabled {

    }
  }
}

.disabled {
  color: var(--index_2_text) !important;
  pointer-events: none !important;
  cursor: default !important;
}

.icon{


  @include default_svg()
}
