.container{
  all: unset;
}
.button{

  &:hover ~ .section{
    display: block;
  }
}

.section{
  position: absolute;
  display: none;
  transform: translate(-50%, 0);
  left: 50%;




  &:hover{
    display: block;
  }
}