@import "../index.css";

.container{
    all: unset;
    font-family: var(--font_family);
    border-radius: var(--border_radius);
    font-weight: 400;

    font-size: 14px;
}

.contained{

}

.text{

}


.outlined{

}

